<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2022 Project Materium
     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<resources xmlns:xliff="urn:oasis:names:tc:xliff:document:1.2">
    <!-- Blur -->
    <string name="window_blur_mat">Enable blur</string>

    <!-- String for removal of sensitive info on about, depending on tap -->
    <string name="device_info_protected_single_press">Tap to show info</string>

    <!-- Maintainer info -->
    <string name="materium_maintainer" translatable="false">@string/materium_maintainer_unknown</string>
    <string name="materium_maintainer_unknown">Unknown</string>
    <string name="materium_maintainer_title">Device maintainer</string>

    <!-- Settings version info -->
    <string name="materium_version">Materium version</string>

    <!-- Settings custom fragments -->
    <string name="materium_top_level_title">Materium customizations</string>
    <string name="materium_top_level_desc">Make it yours!</string>

    <!-- System UI tuner -->
    <string name="lockscreen_shortcuts">Lockscreen shortcuts</string>
    <string name="navbar_tuner_title">Navbar tuner</string>
    <string name="navbar_tuner_summary">Customize your navbar layout</string>

    <!-- SELinux Status -->
    <string name="selinux_status">SELinux status</string>
    <string name="selinux_status_disabled">Disabled</string>
    <string name="selinux_status_permissive">Permissive</string>
    <string name="selinux_status_enforcing">Enforcing</string>
    
    <!-- Face Unlock -->
    <string name="security_settings_face_unlock_redo_face_scan_summary">Remove existing face scan and create a new scan</string>
    <string name="security_settings_face_unlock_redo_face_scan_title">Redo face scan</string>
    <string name="face_redo_confirm_btn">Redo</string>
    <string name="face_redo_warning_msg">Do you want to remove the existing face scan and create a new one?</string>
    <string name="face_unlock_method_title">Allow face unlock on lock screen</string>
    <string name="face_unlock_method_default">When the screen is turned on</string>
    <string name="face_unlock_method_swipe">When swiping on lock screen</string>

    <!-- Default getTimeSpentInApp string for Wellbeing to display. [CHAR LIMIT=NONE] -->
    <string name="duration_less_than_one_minute">Less than 1 Minute</string>
    <!-- Summary for Wellbeing screen time usage. [CHAR LIMIT=NONE] -->
    <string name="screen_time_summary_usage_today">%1$s today</string>

    <!-- Power menu type -->
    <string name="power_menu_type">Power menu type</string>
    <string name="power_menu_type_lite">Lite (A12)</string>
    <string name="power_menu_type_full">Full (A11)</string>
</resources>
